// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login_title{
  margin-top: 30px;
  font-family: Courier;
}
.session_button{
  margin-left: 370px;
  margin-top: 30px;
}
.session_new_form input{
  margin: auto;
}
.session_new_form label{
  margin-left: 305px;
  margin-top: 30px;
}

.session_new_form input[type="text"]{
        width: 500px;
        height: 40px;
        outline:0;
}
