// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.index_all{
  border-bottom: solid 2px #DDDDDD;
}

.index_title_main {
  font-size: 70px;
  padding-top: 50px;
  margin-bottom: 360px;
}
.index_title{
    background-image: url("the-ball-488718_640.jpg");
    background-repeat: no-repeat;
    background-size : 1440px ;
    height: 650px;
    object-fit: cover;
  　object-position: 0 0;
}
.profile{
text-align: right;
}

.profile a{
text-decoration:none;
color: #33CC00;
}

.hukkaru_description_all{
    border-bottom: solid 2px #DDDDDD;
}
.discription_title{
  margin-bottom: 40px;
  margin-top: 40px;
}

.hukkaru_description_sub, .hukkaru_description_main{
  display: flex;
  justify-content: center;
}

.hukkaru_description_sub p,.hukkaru_description_main p{
  font-size: 20px;
  margin-top: 30px;
}

.hukkaru_description{
  height: 200px;
  width: 500px;
  border: solid 1px #000000;
  margin-right: 20px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.hukkaru_description{
line-height: 30px;
}
.hukkaru_description_sub h3{
  height: 200px;
  width: 500px;
  margin-right: 30px;
  padding-top: 20px;
  margin-bottom: 30px;
  line-height: 30px;
}

.index_subtitle{
  font-size: 30px;
  margin-right: 500px;

}

.team_information_all{
 margin-top: 50px;
}

.photo_none_sub{
  width: 300px;
  height: 225px;
  margin: 5px 10px;
  background-color: #BBBBBB;
  color: white;
}

.photo_none_sub p{
  padding-top: 40px;
  font-size: 25px;
}

.user_team_photo img{
  width: 300px;
  height: 225px;
  margin: 5px 10px;
}
/*ここまでがindex*/

/*ここからteam _neww*/

.team_title{
  margin-top: 60px;
  margin-bottom: 40px;
}
.team_sub{
  margin-bottom: 80px;
}
.team_text{
  border: solid 1px #CCCCCC;
}
.new_form{
  height: 150px;
  border-bottom: solid 1px #CCCCCC;
  margin: 0px;
}
.new_form input{
  margin: auto;
}
.new_form label{
  margin: auto;
  font-size: 20px;
}
.new_age_form{
  height: 150px;
  border-bottom: solid 1px #CCCCCC;
  margin: 0px;
}
.new_age_form input{
  margin: 54px 250px 54px 300px ;
}
.new_age_form label{
  margin: auto;
  font-size: 20px;
}

.new_passion_form{
  height: 150px;
  border-bottom: solid 1px #CCCCCC;
  padding-top: 50px;
}
.new_passion{
  height: 50px;
  margin: 0px;
}
.new_passion_form label{
  margin: auto;
  font-size: 20px;
}
.new_passion_form input{
  margin: auto;
}
.new_passion_form select{
  width: 120px;
}

.new_photo_form{
  height: 150px;
  border-bottom: solid 1px #CCCCCC;
  padding-top: 50px;
}
.new_photo{
  height: 50px;
  margin: 0px;
}
.new_photo_form label{
  margin: auto;
  margin-left: 200px;
  font-size: 20px;
}
.new_photo_form input{
  margin: auto;
}
.new_photo_form select{
  width: 120px;
}


.new_enjoy_form{
  height: 150px;
  border-bottom: solid 1px #CCCCCC;
  padding-top: 50px;
}
.new_enjoy{
  height: 50px;
  margin: 0px;
}
.new_enjoy_form label{
  margin: auto;
  font-size: 20px;
}
.new_enjoy_form input{
  margin: auto;
}
.new_enjoy_form select{
  margin: 1px 220px 1px 280px;
  width: 120px
}


.form_message{
  width: 1100px;
  margin: 0px auto;
  border-bottom: solid 1px #CCCCCC;
  height: 340px;
}
.form_message label{
  margin: auto;
  font-size: 20px;
}
.team_new_message{
  width: 500px;
  height: 130px;
  border: solid 1px #CCCCCC;
  font-size: 20px;
  letter-spacing: 2px;
  margin: auto;
}


.team_new_button{
  height: 200px;
  margin: 40px 280px 0px 280px;
}
.new_button{
  width: 200px;
  height: 80px;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
.new_button:active{
  top: 4px;
  text-shadow: none;
}

.field_with_errors{
  display: contents;
  input, textarea{
    border: solid 2px #FF0000;
  }
}
.form_errors ul{
  background-color: #FF0000;
  background: rgba(255,255,0, 0.2);
  letter-spacing: 1px;
  list-style: none;
  padding: 0px;
}
.form_errors li{
  margin-bottom: 7px;
  color: #FF0000;
}

.team_description p{
  width: 750px;
  border: dashed 2px #00FF3B;
  margin: auto;
  font-size: 20px;
  letter-spacing: 1px;
}
.team_description{
  height: 300px;
}

.new_form input[type="text"]{
        width: 500px;
        height: 40px;
        outline:0;
}
.new_age_form input[type="text"]{
        width: 60px;
        height: 40px;
        outline:0;
}

/*ここまでがteams/new*/

/*ここからがteams_show*/

.my_team{
  font-size: 34px;
  margin-left: 80px;
  margin-top: 30px;
  color: #32CD32;
  letter-spacing: 2px;
}
.photo_none{
  margin: auto;
  width :900px;
  height: 450px;
  background-color: #BBBBBB;
  color: white;
}
.photo_none h1{
  padding-top: 120px;
}
.photo_none i{
  margin-top: 20px;
  font-size: 10em;
}

.team_message{
  max-width: 1000px;
  height: 130px;
  border: dashed 2px #000000;
  font-size: 25px;
  letter-spacing: 2px;
  margin-left: 80px;
}
.edit_btn{
  padding-bottom: 90px;
}
.team_name{
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #FF8C00;
}

.team_photo {
  text-align: center;
}
.team_photo img{
  width: 900px;
  height: 450px;

}

/*ここまでがteams/show*/
/*ここからがteams/edit*/

.team_edit_all{
height: 2000px;
}
.team_title{
  margin-top: 60px;
  margin-bottom: 40px;
}
.edit_form{
  height: 150px;
  border-bottom: solid 1px #CCCCCC;
  margin: 0px;
}
.edit_form input{
  margin: auto;
}
.edit_form label{
  margin: auto;
  font-size: 15px;
}


.edit_passion_form{
  height: 150px;
  border-bottom: solid 1px #CCCCCC;
  padding-top: 50px;
}
.edit_passion{
  height: 50px;
  margin: 0px;
}
.edit_passion_form label{
  margin: auto;
  font-size: 15px;
}
.edit_passion_form input{
  margin: auto;
}


.edit_enjoy_form{
  height: 150px;
  border-bottom: solid 1px #CCCCCC;
  padding-top: 50px;
}
.edit_enjoy{
  height: 50px;
  margin: 0px;
}
.edit_enjoy_form label{
  margin: auto;
  font-size: 15px;
}
.edit_enjoy_form input{
  margin: auto;
}


.form_edit_message{
  border-bottom: solid 1px #CCCCCC;
  height: 340px;
}
.edit_message label{
  margin: auto;
  font-size: 20px;
}
.team_edit_message{
  width: 500px;
  height: 130px;
  border: solid 1px #CCCCCC;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 30px auto;
}


.team_edit_button{
  height: 200px;
  margin: 40px 280px 0px 280px;
}
.edit_button{
  width: 200px;
  height: 80px;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
.edit_button:active{
  top: 4px;
  text-shadow: none;
}

.field_with_errors{
  display: contents;
  input, textarea{
    border: solid 2px #FF0000;
  }
}
.form_errors ul{
  background-color: #FF0000;
  background: rgba(255,255,0, 0.2);
  letter-spacing: 1px;
  list-style: none;
  padding: 0px;
}
.form_errors li{
  margin-bottom: 7px;
  color: #FF0000;
}

.team_edit_description p{
  width: 750px;
  border: dashed 1px #3366FF;
  margin: auto;
  font-size: 20px;
  letter-spacing: 1px;
}
.team_edti_description{
  height: 300px;
}

/*ここからがserach_index*/

.search_all{
  margin-top: 70px;
}
.index_search_title{
  margin-top: 100px;
  margin-bottom: 100px;
}
.search_all p{
  width: 530px;
}
.search_new_form input[type="text"]{
  width: 600px;
  height: 38px;
}
.team_information_all h2{
  color: #32CD32;
}
