// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.index_tiltle h1{
  font-size: 70px;
}
/*ここまでindexのcss*/

.new_title h1{
  font-size: 50px;
  margin-top: 30px;
  font-family: Courier;
}
.user_new_form input[type="text"]{
        width: 500px;
        height: 40px;
        outline:0;
}
.user_new_form input{
  margin: auto;
}
.user_new_form label{
  margin-left: 305px;
  margin-top: 30px;
}
.sign_upbutton{
  margin-left: 400px;
  margin-top: 30px;
}
.field_with_errors{
  display: contents;
  input, textarea{
    border: solid 2px #FF0000;
  }
}
/*ここからがprofile.htmlになる*/
.profile_edit_title{
  margin: 40px 0px 70px 0px;
  border-bottom: solid 2px #00FF3B;
}
.profile_id, .profile_name, .profile_email{
  height: 150px;
  display: flex;
  border-bottom: 1px solid #CCCCCC;
}
.profile_label{
  width: 450px;
  margin : auto;
  text-align: center;
}
.profile_label h3{
  font-size: 20px;
  letter-spacing: 3px;
}
.profile_text{
  width: 600px;
  margin: auto;
  text-align: center;
}
.profile_text p{
  height: 36px;
  margin-bottom: 0px;
  margin-left: 50px;
  margin-right:50px;
  border: solid 1px #CCCCCC;
  padding-top: 5px;
}

.profile_sex{
  width: 500px;
  margin: auto;
}
.profile_sex_male{
  margin-bottom: 10px;
}
.profile_button{
  height: 200px;
  margin: 40px 250px 0px 250px;
}
.profile_new_button{
  width: 300px;
  height: 80px;
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}

.profile_new_button:active{
  top: 4px;
  text-shadow: none;
}

/*ここからはprofile_show*/

.profile_show_table_all{
  height: 390px;
}
.profile_show_table{
  width: 1000px;
  margin: 0px auto;
}
.profile_team_show_all td{
  border: none;
  margin-top: 15px;
}
.profile_team_show_all i{
  text-align: center;
}

.profile_team_show_all th{
  border: none;
  width: 100px;
  padding-top: 15px;
  text-align: center;
  margin-left: 10px;
}
.profile_team_show_table{
  margin-bottom: 40px;
  box-shadow: 2px 3px 6px 3px #9E9E9E;
  width: 320px;
  margin-left: 40px;
}
.profile_team_show_table table{
  margin-bottom: 0px;
  margin-left: 25px;
}
.profile_team_show_all{
  display: flex;
}
.profile_show_team_name{
  height: 30px;
  padding: auto;
}

.profile_team_show_table h5{
  font-size: 30px;
  text-align: center;
  color: #32CD32;
  font-family: 'arial black';
  letter-spacing: 3px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.profile_team_show_table:hover{
  text-decoration: none;
  background-color: #CCCCCC;
}

.my_profile_title{
  width: 250px;
  border-left: 3px solid #32CD32;
  border-bottom: 3px solid #32CD32;
}
.recruits_description{
  background-color: #EEEEEE;
  height: 700px;
}
.hukkaru_recruit_sub, .hukkaru_recruit_main{
  display: flex;
  justify-content: center;
}

.hukkaru_recruit_sub p,.hukkaru_recruit_main p{
  font-size: 20px;
  margin-top: 30px;
  line-height: 30px;
}

.hukkaru_recruit_main h3{
  height: 250px;
  width: 500px;
  border: solid 1px #000000;
  margin-right: 20px;
  padding-top: 20px;
  margin-bottom: 40px;
  background-color: #AEFFBD;
}

.hukkaru_recruit_sub h3{
  height: 200px;
  width: 500px;
  border: solid 1px #000000;
  margin-right: 30px;
  padding-top: 20px;
  background-color: #AEFFBD;
}
